@model dCC_GroupCapstone.Models.Vacation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Vacation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VacationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VacationName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsPrivate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsPrivate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocationQueried)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocationQueried)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SavedHotel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SavedHotel)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", "Vacations", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index", "Vacations")
    @Html.ActionLink("Rate Vacation", "Create", "Ratings", new { vacationId = Model.Id, value = 1}, null)
</p>
