@model Tuple<IEnumerable<dCC_GroupCapstone.Models.Vacation>, IEnumerable<dCC_GroupCapstone.Models.Activity>, IEnumerable<dCC_GroupCapstone.Models.Hotel>>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Item1.FirstOrDefault().VacationName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Item1.FirstOrDefault().LocationQueried)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Item1.FirstOrDefault().Cost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Item1.FirstOrDefault().SavedHotel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Item1.FirstOrDefault().AverageRating)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Item1) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.VacationName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.LocationQueried)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Cost)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.Item3.FirstOrDefault(h => h.Id == item.SavedHotel).Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.AverageRating)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
    </td>
</tr>
}

</table>
